<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18183_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,410},{68,60}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{68,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>18183_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,412},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,598},{174,90}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{174,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,300},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{296,122}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,816},{200,142}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,142}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>btn_boss_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,302},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_boss_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,724},{294,94}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,308},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_nest_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,598},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_nest_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,820},{284,124}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{284,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,206},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,104},{100,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,598},{220,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,194}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,964},{34,38}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,480},{64,62}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{114,58}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{114,58}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,820},{266,120}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{266,120}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,690},{124,114}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{124,114}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,302},{140,142}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{140,142}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,690},{116,110}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{116,110}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,946},{86,76}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{534,298}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,226},{534,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>news_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,964},{34,38}}</string>
                <key>offset</key>
                <string>{20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>news_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,480},{64,62}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>weiboicon01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,946},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon01_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,302},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,946},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon02_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,412},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,946},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon03_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,302},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,946},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon04_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,446},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,544},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon05_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,446},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,946},{60,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>weiboicon06_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,302},{108,104}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene1.png</string>
            <key>size</key>
            <string>{1370,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:279d6e1d2458da6b617f680bb1985140$</string>
            <key>textureFileName</key>
            <string>mainscene1.png</string>
        </dict>
    </dict>
</plist>
