<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,148}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{182,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>boss_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{150,136}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{150,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fat_boss_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{98,128}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{98,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fat_boss_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{102,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{102,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fat_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,470},{66,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{66,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fat_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{76,74}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{76,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fly_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,152},{56,74}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{56,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fly_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{66,50}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{66,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fly_boss_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,278},{97,103}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>fly_boss_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,270},{101,103}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{101,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>fly_boss_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,114},{154,82}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,47},{154,82}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>fly_boss_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,128},{148,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,40},{148,82}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>fly_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,430},{96,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{96,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fly_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,373},{94,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_boss_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,240},{88,126}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{88,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>land_boss_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{90,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{90,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>land_boss_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{120,110}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>land_boss_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,368},{100,80}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,34},{100,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>land_boss_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{102,112}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{102,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>land_boss_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,330},{98,104}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{98,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>land_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,228},{54,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,300},{66,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{66,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,383},{72,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{72,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,70},{56,50}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,35},{56,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,457},{64,72}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{64,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>land_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,383},{48,54}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{48,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters01.png</string>
            <key>size</key>
            <string>{512,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12982d56f30ee1c3c910013d1fed348$</string>
            <key>textureFileName</key>
            <string>Monsters01.png</string>
        </dict>
    </dict>
</plist>
