<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,341},{118,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{118,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,400},{126,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{126,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,400},{128,160}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{128,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>gainhonor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,341},{120,160}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>map_covered.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{506,334}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{506,334}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>map_covered_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{262,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,57},{262,224}}</string>
                <key>sourceSize</key>
                <string>{516,340}</string>
            </dict>
            <key>ss_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,573},{38,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{38,32}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,573},{66,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ss_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,503},{118,32}}</string>
                <key>offset</key>
                <string>{4,291}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,13},{118,32}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,573},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,503},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,576},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,7},{218,66}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>ss_locked_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,505},{120,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>ss_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,474},{226,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{226,72}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>ss_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,400},{226,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,7},{226,72}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>ss_waves_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,316},{203,23}}</string>
                <key>offset</key>
                <string>{123,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,7},{203,23}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
            <key>ss_waves_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,291},{219,23}}</string>
                <key>offset</key>
                <string>{109,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,7},{219,23}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
            <key>ss_waves_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,548},{219,23}}</string>
                <key>offset</key>
                <string>{109,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,7},{219,23}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
            <key>ss_waves_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,338},{483,29}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{483,29}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
            <key>ss_waves_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,266},{223,23}}</string>
                <key>offset</key>
                <string>{112,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,7},{223,23}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
            <key>ss_waves_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,369},{481,29}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{481,29}}</string>
                <key>sourceSize</key>
                <string>{515,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_bg.png</string>
            <key>size</key>
            <string>{1698,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d5e479fe7b680edf5381899a2f3c80$</string>
            <key>textureFileName</key>
            <string>stages_bg.png</string>
        </dict>
    </dict>
</plist>
